<section class="movie-specs">
    <ul>
        <li> <img src="{{this.image}}"></li>
        <li><a href="/movies">Go back</a></li> 
        <li>{{this.title}}</li>
        <li>Director: {{this.director}}</li>
        <li>Stars: {{this.stars}}</li>
        <li>{{this.description}}</li>
        <li>{{this.showtimes}}</li>
    </ul>
</section>